<div class="submenu">
  <app-breadcrumb></app-breadcrumb>
  <app-search (searchByContent)="searchByContent($event)"
  (cleanSearch)="restoreList($event)"></app-search>
</div>

<p>
  Obras
</p>

<table class="table mt-2">
  <thead>
    <tr>
      <th *ngFor="let header of tableHeader; index as i" class="text-highlighted"
      (click)="sortBy(header.field, i)">
        {{ header.title }}

        <i class="fa fa-sort-asc" aria-hidden="true"
        *ngIf="header.sortable"></i>
        <i class="fa fa-sort-desc" aria-hidden="true"
        *ngIf="!header.sortable"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let artwork of artworksList" [routerLink]="['artworkDetail', artwork.objectNumber ]">
      <td class="text-highlighted">{{ artwork.title }}</td>
      <td>{{ artwork.principalOrFirstMaker }}</td>
      <td>{{ artwork.year }}</td>
      <td>{{ artwork.objectTypes.join(', ') }}</td>
      <td>{{ artwork.matTech }}</td>
    </tr>
  </tbody>
</table>

<app-pagination (changeCurrentPage)="changePage($event)" [currentPage]="page"
*ngIf="artworksList.length >= 10"></app-pagination>